
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: lightgray;
    width: 100%;
    margin: 0;
    padding: 0;
}

.page-menu, .page-search, .page-title, .page-header{
    display: inline-block;
}

.page-title {
    width: 10%;
    margin-left: 10px;
    color: #123456;
}

.page-menu {
    width: 60%;
}

.page-search {
    width: 20%;
}

.page-menu  ul li {
    display: inline-block;
    padding: 5px;
}

a {
    color: green;
}

a:hover {
    color: purple;;
}

a:active {
    color: maroon;
}
/* index.html */

/* detalhes-ficha-celular.html */


.sobre{
   display: inline-block;
    text-align: left;
    padding: 20px;
  
}
/* cadastro-ficha-celular.html */

/* resultado-busca.html */
