
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: lightgray;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.05);
}

.page-menu, .page-search, .page-title, .page-header{
    display: inline-block;
}

.page-title {
    width: 10%;
    margin-left: 10px;
    color: #123456;
}

.page-menu {
    width: 60%;
}

.page-search {
    width: 20%;
}

.page-menu  ul li {
    display: inline-block;
    padding: 5px;
}

a {
    color: green;
}

a:hover {
    color: purple;;
}

a:active {
    color: maroon;
}
/* index.html */

/* detalhes-ficha-celular.html */

/* cadastro-ficha-celular.html */
.form-cadastro {
    width: 750px;
    border: 1px solid black;
}
.form-field-group {
    display: flex;
}
.form-field-group label {
    width: 20%;
}
.form-field-group input {
    width: 80%;
}
/* resultado-busca.html */
.resultado-de-busca-texto{
    font-size: 40px;
    text-align: center;
}
.modelo-celular{
    text-align: center;
}
.quer-saber{
    background-color: lightgray;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.foto-busca{
    width: 33%;;
}
.saiba-mais{
    width: 30%;
    margin-bottom: 5%;
    margin-left: 35%;
    margin-right: 35%;
}